.heading {
  text-align: center;
}
.add-button {
  background-color: #3b82f6;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 30px;
  margin-top: 20px;
}
